.header {
    margin: 0 auto;
    display: flex;
    width: 100%;
    border: 1px solid black;
    .title-box {
        margin-left: 30px;
        width: 50%;
        line-height: 0;
    }
    .nav-box {
        display: flex;
        width: 50%;
        margin-right: 40px;
        justify-content: flex-end;
        align-items: center;
        p{
            padding: 5px;
            width: 160px;
            text-align: center;
            height: 30px;
            margin: 0px;
            font-size: 20px;
        }:hover {
            color: green;
            font-weight: 600;
            background: #fafafa;
            border-radius: 5px;
        }
    }
}