.form-box{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    border: 1px solid black;
    .form-body {
        display: flex;
        flex-direction: column;
        p{
            line-height: 0;
            font-weight: 600;
            font-size: 20px;
            width: 200px;
            margin: 20px 10px;
        }
        input{
            font-size: 20px;
            border: 1px solid grey;
            border-radius: 3px;
            margin: 0 10px;
        }
        .submit{
            width: 80px;
            margin: 20px auto;
            border-radius: 3px;
            border: 1px solid black;
            background: lightgrey;
        }
        .select{
            margin: 20px auto;
            border-radius: 3px;
            border: 1px solid black;
            background: lightgrey;
        }
    }
}